n8n/workflows/Rota_workflow.json
{
  "name": "Rota_workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        80
      ],
      "id": "ff5b2def-7a95-4f2c-bd07-f1a8f009bbe7",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "=(from:jacekzeber@yahoo.dk OR from:jacek.zeber@wales.nhs.uk OR from:Jacek.D.Zeber@wales.nhs.uk) has:attachment filename:xlsx newer_than:30d\n"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        112,
        80
      ],
      "id": "904800e3-650d-4c89-b943-bdd3a2a57181",
      "name": "Get many messages",
      "webhookId": "45819d40-f969-478a-a2ac-d54529416bd8",
      "credentials": {
        "gmailOAuth2": {
          "id": "yRxMOFApanr4z74u",
          "name": "Gmail_anaesthesiahealthcare"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}\n",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        80
      ],
      "id": "0e59a019-cfe7-480a-b204-26fddd6acc8e",
      "name": "Get a message",
      "webhookId": "a7750976-fb11-43c9-baeb-23c5cf45cfee",
      "credentials": {
        "gmailOAuth2": {
          "id": "yRxMOFApanr4z74u",
          "name": "Gmail_anaesthesiahealthcare"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "a6OVZcblBcUy66iu",
          "mode": "list",
          "cachedResultUrl": "/workflow/a6OVZcblBcUy66iu",
          "cachedResultName": "calendar_agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1904,
        80
      ],
      "id": "52a88ec9-7f48-41fa-8f3c-92080fe7d53a",
      "name": "Call 'calendar_agent'"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "attachment_0",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        544,
        80
      ],
      "id": "269e0b7f-ebea-4686-b2d2-9245eeb46920",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const DEFAULT_LOCATION = \"Work\";\nconst nowStamp = new Date().toISOString().replace(/[-:.Z]/g, '').slice(0, 15);\n\n// Edit this as you learn what each column means:\nconst ROLE_MAP = {\n  // Example formats:\n  // \"SK\": { summary: \"AF Day shift\", start: \"080000\", end: \"203000\" },\n  // \"MH\": { summary: \"AF Night shift\", start: \"200000\", end: \"083000\", crossesMidnight: true },\n  // \"GD\": { summary: \"AF 2nd on-call\", start: \"080000\", end: \"080000\", crossesMidnight: true },\n\n  // For now, leave empty and we’ll fill it once you confirm meanings.\n};\n\n// Excel serial date -> YYYY-MM-DD (UTC)\nfunction excelSerialToISO(serial) {\n  const n = Number(serial);\n  if (!Number.isFinite(n)) return null;\n  const epoch = new Date(Date.UTC(1899, 11, 30));\n  const ms = epoch.getTime() + n * 86400000;\n  const d = new Date(ms);\n  const yyyy = d.getUTCFullYear();\n  const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\n  const dd = String(d.getUTCDate()).padStart(2, \"0\");\n  return `${yyyy}-${mm}-${dd}`;\n}\n\n// Find date key like \"12/29/25\"\nfunction findDateKey(row) {\n  return Object.keys(row).find(k => /^\\d{1,2}\\/\\d{1,2}\\/\\d{2}$/.test(k)) || null;\n}\n\nfunction cellHasAF(v) {\n  return String(v ?? \"\").trim().toUpperCase() === \"AF\";\n}\n\n// Build dtstart/dtend strings if mapped\nfunction buildTimes(isoDate, serial, mapping) {\n  if (!mapping?.start || !mapping?.end) return {};\n  const startDate = isoDate;\n  const endDate = mapping.crossesMidnight ? excelSerialToISO(Number(serial) + 1) : isoDate;\n  return {\n    dtstart: `${startDate}T${mapping.start}`,\n    dtend: `${endDate}T${mapping.end}`,\n  };\n}\n\n// ---- Group AF hits by date ----\nconst byDate = new Map();\n\nfor (const item of items) {\n  const row = item.json;\n  const dateKey = findDateKey(row);\n  const serial = dateKey ? row[dateKey] : null;\n  const iso = excelSerialToISO(serial);\n  if (!iso) continue;\n\n  const afCols = Object.keys(row).filter(k => cellHasAF(row[k]));\n  if (afCols.length === 0) continue;\n\n  if (!byDate.has(iso)) {\n    byDate.set(iso, { iso, serial, rows: [], cols: new Set() });\n  }\n  const entry = byDate.get(iso);\n  entry.rows.push(row);\n  afCols.forEach(c => entry.cols.add(c));\n}\n\n// ---- Emit 1 item per date ----\nconst out = [];\n\nfor (const [iso, entry] of byDate.entries()) {\n  const cols = Array.from(entry.cols);\n\n  // Pick a \"primary\" role for the day:\n  // Prefer a mapped role; otherwise first column\n  const primary = cols.find(c => ROLE_MAP[c]) || cols[0];\n  const mapping = ROLE_MAP[primary];\n\n  const summary = mapping?.summary\n    ? mapping.summary\n    : `AF on rota`;\n\n  const details = `AF found in column(s): ${cols.join(\", \")}\\n` +\n    `Primary: ${primary}\\n` +\n    `Row snapshot: ${JSON.stringify(entry.rows[0])}`;\n\n  const event = {\n    row_id: `rota:${iso}:${primary}`,\n    date: iso,\n    type: \"rota\",\n    summary,\n    description: details,\n    location: DEFAULT_LOCATION,\n    ...buildTimes(iso, entry.serial, mapping),\n  };\n\n  out.push({\n    json: {\n      source: \"rota_xlsx\",\n      today: iso,\n      nowStamp,\n      default_location: DEFAULT_LOCATION,\n      request: \"\",\n      event,\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        80
      ],
      "id": "b858447b-0261-4650-8c80-a0838c3c3829",
      "name": "Build AF events"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Build AF events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AF events": {
      "main": [
        [
          {
            "node": "Call 'calendar_agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9979449b-fe5c-4723-9a05-e50ea61e4842",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6dd52e1127a8323eea11f39646bff42e584259ad6d872e077809aa55e4ff2415"
  },
  "id": "U7qxfMcFy8Fm1IKI",
  "tags": []
}